.accordion
{
	display: flex;
	flex-direction: column;
}

.accordion > button
{
	background-color: var(--header-background-color);
	border: 0;
	cursor: pointer;
	padding: 4px;
	text-align: left;
}

.accordion > button:hover
{
	background-color: var(--row-background-color);
}

.accordion > div
{
	margin: 4px;
	transition-duration: 0.2s;
	transition-property: color, max-height;
	transition-timing-function: ease-in-out;
	overflow: hidden;
}

.accordion > div.closed
{
	color: rgba(0, 0, 0, 0);
}

.accordion > div.opened
{
	color: rgba(0, 0, 0, 1);
}
