.hamburger
{
	align-items: center;
	display: grid;
	height: 40px;
	justify-items: center;
	padding: 0;
	width: 40px;
}

.hamburger svg
{
	height: 32px;
	width: 32px;
}

.hamburger line
{
	stroke: black;
	stroke-linecap: round;
	stroke-width: 4px;
}
