:root
{
	--background-color: rgb(215, 215, 157);
	--row-background-color: rgb(194, 194, 141);
	--header-background-color: rgb(172, 172, 126);
}

body
{
	background-color: var(--background-color);
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

.table
{
	align-items: stretch;
	display: flex;
	flex-direction: column;
	margin: 8px auto;
	max-width: 960px;
	padding-right: 240px;
	padding-top: initial;
	transition-delay: 0.0s, 0.4s;
	transition-duration: 0.4s;
	transition-property: padding-right, padding-top;
	transition-timing-function: ease-in-out;
}

.table > .row
{
	align-items: center;
	background-color: var(--row-background-color);
	box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.25);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.table > .row:not(:first-child)
{
	margin-top: 10px;
}

.table > .row > .header
{
	background-color: var(--header-background-color);
}

.table > .row > *
{
	align-items: center;
	display: flex;
	flex-direction: column;
}

.table > .row img
{
	width: 100%;
}

.table > .show-row
{
	animation-delay: 0.0s, 0.25s;
	animation-duration: 0.4s;
	animation-fill-mode: both;
	animation-name: scale-in, fade-in;
}

.table > .hide-row
{
	animation-delay: 0.0s, 0.25s;
	animation-duration: 0.4s;
	animation-fill-mode: both;
	animation-name: fade-out, scale-out;
}

@keyframes scale-in
{
	from
	{
		height: 0px;
		margin-top: 0px;
	}

	to
	{
		height: 105px;
		margin-top: 10px;
	}
}

@keyframes scale-out
{
	from
	{
		height: 105px;
		margin-top: 10px;
	}

	to
	{
		height: 0px;
		margin-top: 0px;
	}
}

@keyframes fade-in
{
	from
	{
		opacity: 0%;
		scale: 0.9 0.9;
	}

	to
	{
		opacity: 100%;
		scale: 1.0 1.0;
	}
}

@keyframes fade-out
{
	from
	{
		opacity: 100%;
		scale: 1.0 1.0;
	}

	to
	{
		opacity: 0%;
		scale: 0.9 0.9;
	}
}

.menu
{
	background-color: var(--header-background-color);
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
	position: fixed;
	height: 100%;
	overflow: hidden;
	right: 0;
	top: 0;
	transition-delay: 0.4s, 0.0s;
	transition-duration: 0.4s;
	transition-property: height, width;
	transition-timing-function: ease-in-out;
	width: 240px;
}

h2
{
	font-size: 1.5em;
}

h3
{
	font-size: 1.25em;
}

.accordion > button
{
	background-color: var(--header-background-color);
}

.accordion > button:hover
{
	background-color: var(--row-background-color);
}

.accordion > div
{
	box-shadow: 0px 12px 12px -12px rgba(0, 0, 0, 0.1) inset;
	display: flex;
	flex-direction: column;
}

@media (max-width: 1232px)
{
	.table
	{
		padding-right: initial;
	}
}

@media (max-width: 992px)
{
	.menu
	{
		height: 40px;
		width: 100%;
		transition-delay: 0.0s, 0.4s;
	}

	.table
	{
		padding-top: 40px;
		transition-delay: 0.0s, 0.0s;
	}
}

@media (max-width: 632px)
{
	.table > .row
	{
		grid-auto-flow: column;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
	}
}
