:root
{
	--background-color: rgb(215, 215, 157);
	--row-background-color: rgb(194, 194, 141);
	--header-background-color: rgb(172, 172, 126);
}

body
{
	background-color: var(--background-color);
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

.table
{
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: repeat(4, minmax(auto, 240px));
	grid-template-rows: auto;
	justify-content: center;
	place-items: stretch;
	row-gap: 3px;
}

.table > *
{
	background-color: var(--row-background-color);
	display: grid;
	place-items: center;
}

.table > .header
{
	background-color: var(--header-background-color);
}

.menu
{
	background-color: var(--header-background-color);
	position: fixed;
	height: 100%;
	right: 0;
	top: 0;
	width: 240px;
}

h2
{
	font-size: 1.5em;
}

h3
{
	font-size: 1.25em;
}
